# COLUMN OPERATION USING PANDAS

### This dataset is downloaded from the Kaggle dataset website and used it to do some basic data exploration using pandas. This dataset contains the actions contained in a market area

In [1]:
import pandas as pd

#### To perform the operations we need to import a library, so here pandas library is imported locally as pd

In [2]:
Happy = pd.read_csv("D://MBA//SEM 2//Python//World_happiness_2019.csv")
Happy

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

#### Use pd.read_csv function to read the dataset in to Jupyter Notebook

In [3]:
Happy['Happiness'] = Happy['Freedom to make life choices'] + Happy['Generosity']
Happy

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Happiness
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212

#### A new variable called "Happiness" is added to the dataset with help of using the existing variables which are "Freedom to make life choices" & "Generosity".

In [4]:
Happy.rename(columns = {'Happiness' : 'Happier'})

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Happier
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212

#### A single variable Happiness is renamed as Happier using rename function.

In [5]:
Happy.rename(columns = {'Score' : 'Score_Value','Freedom to make life choices' : 'Freedom','Generosity' : 'Generous'})

,Overall rank,Country or region,Score_Value,GDP per capita,Social support,Healthy life expectancy,Freedom,Generous,Perceptions of corruption,Happiness
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212

#### Multiple variable name is renamed here using rename function like earlier

In [6]:
Happy.drop(['Happiness'], axis=1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

#### A variable called Happiness is removed using the drop function

In [7]:
Happy.drop(['Social support','Freedom to make life choices','Happiness'], axis=1)

,Overall rank,Country or region,Score,GDP per capita,Healthy life expectancy,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,0.986,0.153,0.393
1,2,Denmark,7.600,1.383,0.996,0.252,0.410
2,3,Norway,7.554,1.488,1.028,0.271,0.341
3,4,Iceland,7.494,1.380,1.026,0.354,0.118
4,5,Netherlands,7.488,1.396,0.999,0.322,0.298
...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.614,0.217,0.411
152,153,Tanzania,3.231,0.476,0.499,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.361,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.105,0.235,0.035
155,156,South Sudan,2.853,0.306,0.295,0.202,0.091

#### Multiple variable is removed using the drop function

In [8]:
Happy.columns = [col.upper() for col in Happy.columns]
Happy

,OVERALL RANK,COUNTRY OR REGION,SCORE,GDP PER CAPITA,SOCIAL SUPPORT,HEALTHY LIFE EXPECTANCY,FREEDOM TO MAKE LIFE CHOICES,GENEROSITY,PERCEPTIONS OF CORRUPTION,HAPPINESS
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212

#### Uppercase of columns name

In [9]:
Happy.columns = [col.lower() for col in Happy.columns]
Happy

,overall rank,country or region,score,gdp per capita,social support,healthy life expectancy,freedom to make life choices,generosity,perceptions of corruption,happiness
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212

#### Lowercase of coulmns name

In [10]:
Happy.sort_values(by = 'score', ascending = True)

,overall rank,country or region,score,gdp per capita,social support,healthy life expectancy,freedom to make life choices,generosity,perceptions of corruption,happiness
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
...,...,...,...,...,...,...,...,...,...,...
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749

#### Sorting the entire dataset ascendingly with respect to variable "Score".

In [11]:
Happy.sort_values(by = ['score','generosity'], ascending =[True,False])

,overall rank,country or region,score,gdp per capita,social support,healthy life expectancy,freedom to make life choices,generosity,perceptions of corruption,happiness
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.212
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.460
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.158
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.693
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.772
...,...,...,...,...,...,...,...,...,...,...
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.879
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.945
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.874
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.844
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.749

#### Sorting multiple variables using sort function

In [12]:
Happy.drop(['social support','generosity','happiness'], axis=1,inplace = True)
Happy

,overall rank,country or region,score,gdp per capita,healthy life expectancy,freedom to make life choices,perceptions of corruption
0,1,Finland,7.769,1.340,0.986,0.596,0.393
1,2,Denmark,7.600,1.383,0.996,0.592,0.410
2,3,Norway,7.554,1.488,1.028,0.603,0.341
3,4,Iceland,7.494,1.380,1.026,0.591,0.118
4,5,Netherlands,7.488,1.396,0.999,0.557,0.298
...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.614,0.555,0.411
152,153,Tanzania,3.231,0.476,0.499,0.417,0.147
153,154,Afghanistan,3.203,0.350,0.361,0.000,0.025
154,155,Central African Republic,3.083,0.026,0.105,0.225,0.035
155,156,South Sudan,2.853,0.306,0.295,0.010,0.091

#### Multiple variable is removed using the drop function using inplace

In [13]:
Happy.groupby('score').count()

,overall rank,country or region,gdp per capita,healthy life expectancy,freedom to make life choices,perceptions of corruption
score,,,,,,
2.853,1,1,1,1,1,1
3.083,1,1,1,1,1,1
3.203,1,1,1,1,1,1
3.231,1,1,1,1,1,1
3.334,1,1,1,1,1,1
...,...,...,...,...,...,...
7.488,1,1,1,1,1,1
7.494,1,1,1,1,1,1
7.554,1,1,1,1,1,1
7.600,1,1,1,1,1,1
7.769,1,1,1,1,1,1

#### Group by using a variable "Score"

In [14]:
Happy = pd.read_csv("D://MBA//SEM 2//Python//World_happiness_2019.csv")
Happy

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

#### Use pd.read_csv function to read the dataset in to Jupyter Notebook

In [15]:
print(Happy['Score'].isnull().sum())

0

#### Isnull function used to check if there is any null values in the dataset

In [16]:
len(Happy.columns.values)

9

#### Length of a dataframe

In [17]:
Happy.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

#### Column function used to view the variables names

In [18]:
Happy.columns.values

array(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'], dtype=object)

#### Column.values function also used to view the variables names